.chat-window {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 600px;
  padding: 0 0 1.5rem 0;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  box-sizing: border-box;
  /* position: fixed;
  bottom: 85px;
  right: 20px; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 999;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.ai-header {
  background-image: linear-gradient(-90deg, #cb6ce673 0%, #750096aa 100%);
}
.send-button {
  color: #750096;
  fill: #750096;
  background-color: #750096;
  border: 0;
}
.send-button svg {
  fill: #750096;
}
.send-button:focus,
.mic-btn:focus {
  outline: none;
}
.chat-window.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* visibility: visible; */
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.MuiBox-root.css-ue39ei::-webkit-scrollbar {
  display: none;
}
